<form action="/lessons/register">
  <div>
    <label for="user-name">ユーザー名</label>
    <input type="text" name="user_name" id="user-name">
  </div>
  <div>
    <input type="submit" value="登録">
  </div>
</form>
