<form action="/lessons/register">
  <div class="form-group">
    <label for="user-name">ユーザー名</label>
    <input type="text" name="user[name]" id="user-name"
      class="form-control">
  </div>
  <div>
    <input type="submit" value="登録" class="btn btn-primary">
  </div>
</form>
