input[type="text"].form-control,
input[type="password"].form-control,
textarea.form-control,
select.form-control {
  border-color: gray;
}
div.time-part {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
