<%= form_for @changeset,
  plan_items_path(@conn, :update, @changeset.data), fn f -> %>
  <div class="form-group">
    <%= render "_form.html", changeset: @changeset, f: f %>
    <%= submit "更新", class: "btn btn-primary" %>
  </div>
<% end %>
