<div class="row">
  <div class="col-12 date-and-time">
    <div>
      <%= bootstrap_date_input @f, :"#{@prefix}_date", required: true %>
    </div>
    <div>
      <%= select_for_hours @f, :"#{@prefix}_hour" %> :
      <%= select_for_minutes @f, :"#{@prefix}_minute" %>
    </div>
    <%= bootstrap_feedback @f, :"#{@prefix}_date" %>
    <%= bootstrap_feedback @f, @field %>
  </div>
</div>
