<div class="row">
  <div class="col-12 date-and-time">
    <div>
      <%= bootstrap_date_input @f, :"#{@prefix}_date", parent: @field %>
    </div>
    <div>
      <%= select_for_hours @f, :"#{@prefix}_hour", parent: @field %> :
      <%= select_for_minutes @f, :"#{@prefix}_minute", parent: @field %>
    </div>
    <%= error_tag(@f, :"#{@prefix}_date") %>
    <%= error_tag(@f, @field) %>
  </div>
</div>
