<%= link to: Routes.plan_item_path(@conn, :edit, @item.id) do %>
  <i class="fa fa-pen-square fa-lg"></i>
<% end %>

<%= link to: "#delete-confirmation-#{@item.id}",
  data: [toggle: "modal"] do %>
  <i class="fa fa-trash fa-lg"></i>
<% end %>
