<%= link to: plan_item_path(@conn, :edit, @item.id) do %>
  <i class="fa fa-pencil-square fa-lg"></i>
<% end %>

<%= link to: plan_item_path(@conn, :delete, @item.id), method: :delete do %>
  <i class="fa fa-trash fa-lg"></i>
<% end %>
