<%= render "index.html", plan_items: @plan_items, conn: @conn %>

<hr>

<div class="container-fluid plan-items">
  <%= for item <- @continued_plan_items do %>
    <%= render "_index_row.html", item: item, conn: @conn %>
  <% end %>
</div>
